*{
    box-sizing: border-box;
}
html{
    background-color: #1a1b4f;
    font-family: Roboto,fantasy;
}

body{
    width: 90%;
    height: 100%;
    background: #555A63;
    background: -moz-linear-gradient(left, #555A63 0%, #9BB6CB 50%, #6B6F75 100%);
    background: -webkit-linear-gradient(left, #555A63 0%, #9BB6CB 50%, #6B6F75 100%);
    background: linear-gradient(to right, #555A63 0%, #9BB6CB 50%, #6B6F75 100%);
    border : 1px solid black;
    border-radius: 5px;
    padding-top: 2%;
    padding-right: 2%;
    padding-left: 2%;
    margin-left: 3%;
}
h1{color : #990000}
h2{color: #FF0000}
a{
   font-size: 14px;    
}
img{
    size: 10px;
    top: 10px;   
}
ul{
    font-size: x-large;
    list-style-type: none;
}

#stile{
    width :80%;
    color : #990000;
    margin-left: 40%;
    font-size: 24px;
    font-style: oblique;    
}
#privacyID{
    font-size: 12px;
}
.stilediv{
   font-size: 18px;
   padding-left: 20px;
   border-collapse: separate;
   border-radius: 2px;
   border-spacing: 1px;
   border: 1px solid #ffffff;
}
.cat{
    font-size: 22px;
}
.privacy{
    font-size: 12px;
}
@media(max-width: 360px){
  
    .navbar-brand.ml-xl-5.text-light.font-weight-bold{
        font-size: 14px;
    }
    .col-12.ml-xl-5{
        margin-left: -15px;
    }
    img{
        max-width: 100%;
    }

}
@media (max-width: 639px) {
    #iubenda-cs-banner.iubenda-cs-default .iubenda-cs-rationale {
        height: 55vh !important;
        min-height: 320px !important;
    }
}